[2016-06-06 10:17] TetyaseDaWina opened #1 "Php-errors.log"
Hi, thank you to make this plugin available with GLPI 0.90

Following our exchange, filter works type 0 and 1 for HTML and Text.
But, there is some problems in the php-errors.log
Here is my log:

2016-06-06 11:05:02 [@supp]
  **\* PHP Notice(8): Undefined index: replace
  Backtrace :
  plugins/ticketcleaner/hook.php:222
  plugins/ticketcleaner/hook.php:310                 PluginTicketCleaner::clea

[2016-06-07 08:11] tomolimo commented on #1
Solved with release 2.0.0

[2016-06-07 08:11] #1 closed, assigned to nobody

[2016-06-07 10:24] TetyaseDaWina opened #2 "tab ticketcleaner filter"
Why do you have put the tab ticketcleaner filter in the principal tab Configuration ?
It will be better if this tab was on the principal tab Plugins like for exemple FusionInventory ? ^^

Also, very nice work :+1:

[2016-06-07 11:01] tomolimo commented on #2
Hello,
For 2 reasons:
1. the plugin Fields does the same: configuration is in the 'Setup' menu.
2. the configuration of TicketCleaner is really similar to Setup: you do it one time and you forget it.

regards,
Tomolimo

[2016-06-07 11:01] #2 closed, assigned to nobody

[2016-06-07 11:12] TetyaseDaWina commented on #2
Ok.
Only use FI so don't know about Fields.
Thank you for your feedback

[2016-07-05 08:13] OscarLoayzaB opened #3 "Suggestion about Encoding."
Hello,
The plugin is perfect and I find it useful .
However , I had to change a line of the file " hook.php " .

`$parm->input['content'] = htmlentities( $temp_content, ENT_QUOTES) ;`

by

`$parm->input['content'] = htmlentities( $temp_content, ENT_QUOTES, 'UTF-8') ;`

Because:
Characters transformed type ( ' , ¨, ñ, ... ) when creating a ticket.

This change could be included in the code .??

Tha

[2016-07-05 08:14] tomolimo commented on #3
Thank you for your proposal, I'll do it quickly

[2016-07-05 10:05] #3 closed, assigned to nobody

[2016-09-07 08:41] risbac opened #4 "The plugin doesn't seem to work"
I installed it, it appears in the list of plugins, it's active, but nothing happens. I see only one line in the log file, saying "2016-08-03 12:25:51 Loading of sha1 files from 'C:\xampp2\htdocs\glpi/plugins/ticketcleaner/pictures' into DB done."

How can I find what is not working ? I don't see any other interesting error in the other log files.

[2016-09-07 08:45] tomolimo commented on #4
Hello,
Did you check the [wiki](https://github.com/tomolimo/ticketcleaner/wiki)?
Thank you for using this plugin,
Regards,
Tomolimo

[2016-09-07 08:50] risbac commented on #4
Yes, i read it, but didn't see anything to help. I have installed and set the plugin quite simply : it's only to remove attached images in the tickets. So I have put the images in the right folder on the server. But nothing at all in the log.

[2016-09-07 09:00] tomolimo commented on #4
It will do its job only at creation or update of tickets/followups when creations/updates are done by emails, explained here: https://github.com/tomolimo/ticketcleaner/wiki#ticket-filters
But about logs it has its own log files: in the glpi`/files/_log` folder, you should find a `TicketCleaner.log` file. The content of the log can be for example:

in which you can see that image001.jpg has been de

[2016-09-07 09:06] risbac commented on #4
Thanks for your answer
We are receiving new tickets by email (using a collector), with the attached files, and it's not doing anything, the log stays empty (except this first line that I included in my first message). So we have a lot of useless files attached to the new tickets, and it's not scanning them (otherwise we would see at least that it's not deleted, as shown in your example. But it's e

[2016-09-07 09:30] tomolimo commented on #4
Yes, you are right, something, somewhere is not doing its job :(
moreover, even if the attached files are not pictures, there is a trace in the logs, see below another example:

Are you ready to dig into the source files?

[2016-09-07 09:33] risbac commented on #4
Sure, no problem!
By the way, it's a GLPI 0.90.3 install. Windows server.

[2016-09-07 09:34] tomolimo commented on #4
then let's go!

First, I need some info about GLPi:

Could you get the ones from the 'Setup > General' form and 'System information' tab, below 'Information about system installation and configuration': copy the info below in the [code]...[/code] section and paste them here?

[2016-09-07 09:35] risbac commented on #4
here it is

[code]

GLPI 0.90.3 (/glpi => C:\xampp2\htdocs\glpi)

Server

Operating system: Windows NT TEBUVEEAM01 6.3 build 9600 (Windows Server 2012 R2 Standard Edition) i586
PHP 7.0.6 apache2handler (Core, PDO, Phar, Reflection, SPL, SimpleXML, apache2handler, bcmath, bz2, calendar, ctype, curl, date,
    dom, exif, fileinfo, filter, ftp, gd, gettext, hash, iconv, imap, json, ldap, libxml, mbst

[2016-09-07 09:40] tomolimo commented on #4
Everything seems OK, apart Apache for which you should use fastcgi with PHP instead of apachehandler. Fastcgi is faster than apachehandler, but anyway this is not the current issue :).

I'm going to reproduce your setting on my own development machine, and test TicketCleaner (I will use my own IIS, but it has nothing to do with current issue).

[2016-09-07 09:42] risbac commented on #4
It's a XAMPP installation that I didn't set, so i guess it's the default settings. It would be better with fastcgi indeed, I might look at that later. but as you said, it has nothing to do with the current issue. :)

Thanks for your effort on this !

[2016-09-07 09:52] tomolimo commented on #4
In the TicketCleaner settings: did you de-active all the default filters?

[2016-09-07 09:53] risbac commented on #4
There is absolutely nothing in the filters. I don't think I deactivated anything, I never saw anything there I think.

[2016-09-07 10:00] tomolimo commented on #4
ok, I was wondering if there was an interaction between text filters and picture filters.
I'll see the picture problem after lunch :)

[2016-09-07 10:08] risbac commented on #4
Good appetite :)

[2016-09-07 12:07] tomolimo commented on #4
Hello,
There is a bug that I'm going to fix ASAP.
Tomolimo

[2016-09-07 12:16] risbac commented on #4
Great if it helps to find a bug ! Thanks for your help!

[2016-09-07 13:05] #4 closed, assigned to tomolimo

[2016-09-07 13:11] tomolimo commented on #4
Hello,
You may test this new release.
Thank you,
Regards,
Tomolimo

[2016-09-07 14:26] risbac commented on #4
great, going to test it !

[2016-09-07 14:50] risbac commented on #4
Now I do have a log, it seems to be working much better ! Thank you for the very fast fix, Tomolimo ! It's really useful and appreciated.

[2016-09-07 14:54] tomolimo commented on #4
you're welcome

[2016-11-28 12:39] Smiley-k opened #5 "examples"
Hi, more examples ? I have a complete deletion of the description! I'm using the latest version. Thank you.

[2016-11-28 12:47] tomolimo commented on #5
hello,
you may find help with this: https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters
regards,
Tomolimo

[2016-11-28 12:57] Smiley-k commented on #5
Yes I tried, but alas not working.

I have here an example

i use **/[a-z ]+\Best Regards.*?you\./ui**

but then deleted all description.

[code]

[2016-11-28 18:53] Smiley-k commented on #5
I may have figured out how it works. but I would like more examples. Here for example how to delete a picture ? if I know sh1 **179ecce84bbefa43bf990a6473473cbe5cf8cd3d**

[2016-11-28 19:53] tomolimo commented on #5
Hello,
Normaly you just have to save the picture into the dedicated folder 'pictures' in the plug-in folder. Check the wiki.
Regards
Tomolimo

[2016-11-28 19:59] Smiley-k commented on #5
Yes, of course I copied the picture from
/glpi/files/_tmp#
in
glpi/plugins/ticketcleaner/pictures#

but it is not working, maybe more?

[2016-11-28 20:15] tomolimo commented on #5
I think there is a bug I'll look at it tomorrow.
Tomolimo

[2016-11-29 08:19] tomolimo commented on #5
hello,
could you give me back info about your configuration?
Thank you
Tomolimo

[2016-11-29 08:27] Smiley-k commented on #5
Hi, Yes found the problem why the description was removed. At the end of the recording was blank.
**/[a-z ]+Best Regards.*?you\./ui**
(sorry for this concern), but the picture is not removed from the signature.

The picture I copied from the folder
/glpi/files/_tmp#
in
glpi/plugins/ticketcleaner/pictures#

what am I doing wrong ?

[2016-11-29 08:28] tomolimo commented on #5
hello,
could you give me back info about your GLPi configuration?
Thank you
Tomolimo

[2016-11-29 08:30] Smiley-k commented on #5
Yes, of course.
ubuntu 14.04
**GLPI 9.1.1**
Could be something else, say.

[2016-11-29 08:31] tomolimo commented on #5
and versions of installed plugins?

[2016-11-29 08:32] Smiley-k commented on #5
Forgot to specify version.

**Ticket Cleaner	2.0.4**

[2016-11-29 08:33] tomolimo commented on #5
Did you look into the log file TicketCleaner.log?

[2016-11-29 08:34] Smiley-k commented on #5
[code]

[2016-11-29 08:37] tomolimo commented on #5
as a workaround, you may insert into the DB table the sha1 of the picture.
the table is `glpi_plugin_ticketcleaner_picturehashes`

[2016-11-29 08:38] tomolimo commented on #5
but to investigate further the issue: could you tell me the name of the web client that is used to send the emails?

[2016-11-29 08:52] Smiley-k commented on #5
I send messages via outlook

our database has information about the picture

![image](https://cloud.githubusercontent.com/assets/11009787/20702729/25a900b8-b62a-11e6-8a55-c3c1085958e9.png)

[2016-11-29 09:05] Smiley-k commented on #5
But these notes are on the test server, production server installed **fusioninventory** and I don't see glpi_plugins and glpi_plugin_ticketcleaner_picturehashes

[2016-11-29 09:22] tomolimo commented on #5
which outlook version? and which msexchange version?
I have same troubles with our new exchange server.

Regarding the table content, you can see that the sha1 are not matching the one that are received by the mail receiver. The mail receiver receives `179ecce84bbefa43bf990a6473473cbe5cf8cd3d` and the picture files generate another sha1. I suspect that msexchange newest release is doing some conve

[2016-11-29 09:24] Smiley-k commented on #5
Yes, I use MS Exchange 2010. I'll try to do as you recommend.

outlook 2010

[2016-11-29 09:28] Smiley-k commented on #5
Yes you are right, a solution to the problem when working with MS Exchange server.

Thank you very much.

but how to proceed with this in the future ?

[2016-11-29 09:33] tomolimo commented on #5
It's seems to be an issue with outlook:
see this: http://superuser.com/questions/211020/prevent-outlook-2010-insert-picture-resizing-image
and this: https://www.howto-outlook.com/faq/unsharpimages.htm

[2016-11-29 10:01] tomolimo commented on #5
this one is also very interesting: https://www.msoutlook.info/question/545
the conclusion is: if you change the way the 'wrap text' is done for the embedded picture, then it will change the compression of the picture...

[2016-11-29 10:44] tomolimo commented on #5
As an example:
![image](https://cloud.githubusercontent.com/assets/7569958/20706719/e42c335e-b628-11e6-8b88-a86983a03a43.png)
On the left is the embedded picture sent with my outlook (before sending of course), and on the right is the picture that GLPi received, you can see that Outlook has re-sampled and resized the initial picture, and such the DB stored sha1 can't matched the one received...

[2016-11-29 11:08] Smiley-k commented on #5
okay, thank you.

[2017-01-09 15:15] satyan01 opened #6 "pictures and text to remove"
Hello

I would like to know where can I find the picture to copy in pictures folder to exclude them from the ticket.

It is in the signature but I can't find in glpi folder where pictures are stored until the ticket is created from receiver

[2017-01-09 15:20] satyan01 commented on #6
Could you help me for the code regex to remove signature please

  	Alexander Stoen
IT Operations Administrator
Information Technology	Unigestion (UK) Ltd
4 Stratford Place
London W1C 1AT
United Kingdom
  	Dir.  +44 (0) 207 529 5218	Tel.  +44 (0) 207 529 5200
  	Fax. +44 (0) 207 529 5230	Fax. +44 (0) 207 529 6389
  	astoen@unigestion.com
www.unigestion.com

  	   Follow Unigestion on LinkedIn.

[2017-01-09 16:01] tomolimo commented on #6
for filter: uses this https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters

[2017-03-13 09:42] Giudy opened #7 "Mail receiver hang while ticket cleaner clean sveral signatures in the same email"
Hello I did experience some issue with ticketcleaner so that I had to deactvate the rule.
It seems that when I have several sigantures in the same email (it does happen ie when a thread has been forwarded) the plugin hang,
The point is: is there any limit on the size of the text that has to be cancelled? I mean that the regular expression I did was having wildcard and was matching long part of the

[2017-04-28 14:07] tomolimo commented on #7
Hello,
Sorry for my late answer, but I've been very busy upgrading our own GLPI installation.

There is no limit on the size of the text being deleted.

I may help if you post more information about your configuration and about the rule you are using and the concerned email.

Thank you
Regards,
Tomolimo

[2017-04-28 14:12] tomolimo commented on #6
Hello Satyan01,
Sorry for my late answer, but I've been very busy upgrading our own GLPI installation.

In order to correctly helping you, I need the debug output from the log file I previously showed you the link.

Thank you,
regards,
Tomolimo

[2017-04-28 15:25] Giudy commented on #7
Hello Tomolino,
  the problem is that when there is a mail with several signatures (because of a thread for example) in the body and I use a reg exp like this:
`/beginning of the signature \:((.|\n)*)end of the signature\./ui`
the mailcollector hang. If I try to use glpi->setup->receiver->retrieve now the emails I get a timeout error
in the ticketcleaner log no line is add and neither in any other

[2017-05-02 07:01] tomolimo commented on #7
Hello,
Did you try your regex with the mentioned regex test web site (from here:  (https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters)?
Also you may try to use something like this: `/beginning of the signature :.*?end of the signature\./ui`. this is similar to the one I'm using internally.

regards,
Tomolimo

[2017-05-02 07:04] Giudy commented on #7
Ciao Tomolino,
 The regxex works fine as it does its job when there is a single signature.
I'll give anyway a try to the one you've given here. I'll be back with the results.

thanx

davide

[2017-05-02 09:39] Giudy commented on #7
Thanx, it did the job!
The funny thing is that my regex did work perfectly in the test site while your doesn't.
Anyway, for me it is fine like this

davide

[2017-05-02 09:39] #7 closed, assigned to nobody

[2017-05-02 09:42] tomolimo commented on #7
Explanation: the test web site doesn't use the same regex function than Ticketcleaner, and such needs the /g flag at the end of the regex to properly shows the matched parts. But Ticketcleaner doesn't need this /g flag as it uses PHP preg_replace that implies the /g flag.

[2018-03-28 20:15] FRANCOIS50 opened #8 "Compatibility with GLPI 9.2.2"
Hi do you have a idea wenn you will adapte this plugin to the new glpi version 9.2.2

Thanks in advance for your feed-back

[2018-03-29 06:17] tomolimo commented on #8
Hello,
I think around June 2018,
regards,
Tomolimo

[2018-07-19 11:53] lolokai commented on #8
Hello,
Can you say me if this plugin is now compatible with GLPI 9.2 and 9.3 ?

[2018-07-19 14:24] tomolimo commented on #8
Probably during summer 2018

[2018-07-23 11:26] tomolimo commented on #8
Partially fixed by last commit https://github.com/tomolimo/ticketcleaner/commit/49667483760c513fe390c957b03e275e1eb76810 (compatibility with 9.2)
For 9.3 compatibility: it is planned but for end of Autumn 2018
Thank you
regards,
Tomolimo

[2019-01-04 15:07] juveboss commented on #8
Hello Tomolimo.

Is it compatible with versions 9.2 and 9.3?

My regex does not work anymore since my migration from Glpi 9.1 to 9.2, I tried on 9.3 it does not work too ...

[2019-01-04 16:04] tomolimo commented on #8
Hello @juveboss
I've a beta version for 9.2
I'll release it next week.
Regards,
Tomolimo

[2019-01-25 16:53] juveboss commented on #8
Hello @tomolimo

The release is available ?

Best regards

[2019-01-28 07:18] tomolimo commented on #8
Hello @juveboss
I've currently a bug in it, and can't release it like that. I'm working on it, and keep you inform as soon as it will be available.
Thank you
Regards,
Tomolimo

[2019-03-20 08:29] ThomasRavail opened #9 "Pictures Filter"
I tried to filter the pictures we received via the GLPI mail collector. So, I sent a first mail with Outlook with my signature containing our logos and I put the pictures in the 'pictures' folder of the plugin. I tried a second time to send an email and the ticket did not contain any logo.

But if another person try to send an email containing the same signature with same logos, in TicketCleaner.l

[2019-04-25 12:07] Anthonyd95 opened #10 "Compatibility with GLPI 9.4"
Hi !
Have you planned to make your plug-in compatible with GLPI 9.4 ?
and  if it's the case do you have an idea when you will adapte this plugin to the new glpi version ?

Thanks in advance for your feed-back !

[2019-04-29 06:19] tomolimo commented on #10
Hello,
Yes this is planned, but yet we still have a big issue in GLPI 9.2...
So let's fix this and I'll be able to provide the 9.3 and 9.4 release
Thank you,
Regards,
Tomolimo

[2019-04-29 09:31] Anthonyd95 commented on #10
Hello,
Thank you for your response and your amazing work on this plug in.
Regards,
Anthony

[2019-04-29 09:31] #10 closed, assigned to tomolimo

[2019-05-03 18:23] Eon9D opened #11 "GLPI 9.4.2 - working partially"
The plugin seems to work for tickets but not for followups anymore.

This might be due to "TicketFollowup" is deprecated and now "ITILFollowup".

[2019-05-06 06:31] tomolimo commented on #11
Oups!
Thank you for your report, I'll try to fix this asap. Or you may propose a Pull request?
Regards,
Tomolimo

[2019-05-06 12:22] Eon9D commented on #11
PR: Sorrry .. above my capabilities :/

[2019-05-06 12:41] tomolimo commented on #11
No problem, I'll check what I can do

[2019-06-01 11:16] Eon9D commented on #11
I would correct that from partially working to not working.

We have a strange issue with broken hyperlinks.
A link in a mail (https://abcdebay.com/) would be broken and will become like (http://glpi_of_company/front/;https://abcdebay.com/).
It took me a bit but after I disabled the ticketcleaner it worked!

Further investigation showed that is is an encoding problem??!

This gets handed to Ticket

[2019-06-01 11:35] Eon9D commented on #11
`--- html/helpdesk/plugins/ticketcleaner/setup.php	(date 1559388257000)
+++ html/helpdesk/plugins/ticketcleaner/setup.php	(date 1559388257000)
@@ -28,11 +28,11 @@

    $PLUGIN_HOOKS['pre_item_add']['ticketcleaner'] = array(
       	'Ticket' => array('PluginTicketCleaner', 'plugin_pre_item_add_ticketcleaner'),
-      	'TicketFollowup' => array('PluginTicketCleaner', 'plugin_pre_item_add_ticketclean

[2019-06-03 07:13] tomolimo commented on #11
Hello @Eon9D
Thank you for your tests and proposals, I'll check that, and keep you informed.
Regards,
Tomolimo

[2019-06-23 08:52] Eon9D commented on #11
Hey, I don't wanna annoy you but its been three weeks. Is there any update soon? Otherwise I am going to push into production.
Thanks

[2019-06-24 09:40] tomolimo commented on #11
Oups, sorry for being so late,
I'm going to check this during this week,
And I'll keep you informed,
Thank you

[2019-06-28 13:54] tomolimo commented on #11
Hello @Eon9D
I totally agree for the change to ITILFollowup instead of TicketFollowup, but for the encoding problem, I need more time to be able to see exactly what's the root cause.
Thank you,
Tomolimo

[2019-06-28 14:44] tomolimo commented on #11
Hello @Eon9D ,

Here is what I propose to fix the issue of the single quote, double quotes, slashes and backslashes:

Replace the cleanText() function by the following one (in hook.php):

[code]
And keep me informed of your tests.

Thank you
Regards,
Tomolimo

[2019-06-29 15:03] Eon9D commented on #11
Okay. Is this tested? I would put this into production then as I have no way of testing it in an dev system.

[2019-07-01 07:32] tomolimo commented on #11
Hello @Eon9D
I made some tests, but there is no guarantee that it fits your needs...
You must do your own tests before doing this update on production server.
Anyway, here are the tests I made:

#### source:

#### result when creating a ticket via web interface:

there is a rule that convert <- into ⇦
This result is OK

#### result when creating a ticket via email (my email application is Outlook)

[2019-07-01 12:24] tomolimo commented on #11
Hello @Eon9D
After some searches I saw that the semi-column issue is from GLPI: see this PR: https://github.com/glpi-project/glpi/pull/6084
I'm still investigating on the " (quote) transformed into ' (amp)

[2019-07-01 12:46] tomolimo commented on #11
And I can see also that the transformation of the " into the ' is also due to GLPI: see https://github.com/glpi-project/glpi/pull/6084
I sent one PR to fix these issues.

[2019-07-02 12:23] tomolimo commented on #6
I close this issue as there is no info from @satyan01
Feel free to re-open with new information.

[2019-07-02 12:23] #6 closed, assigned to nobody

[2019-07-02 12:25] tomolimo commented on #9
Hello @ThomasRavail
Sorry for being late to answer.
The issue is related to Outlook that re-samples the pictures that are in email body, and when an image is re-sampled, of course the hash codes don't match.
The only solution I found is to save all pictures that passed the ticketCleaner filter each time you have some.
Thank you
Regards,
Tomolimo

[2019-07-02 12:25] #9 closed, assigned to nobody

[2019-07-02 12:29] tomolimo commented on #5
linked to #9

[2019-07-02 12:29] #5 closed, assigned to nobody

[2019-07-02 12:51] #8 closed, assigned to tomolimo

[2019-07-02 14:37] tomolimo commented on #11
Fixed by https://github.com/tomolimo/ticketcleaner/releases/tag/2.5.0

[2019-07-02 14:37] #11 closed

[2019-08-20 11:38] juveboss opened #13 "[GLPI 9.4] filter don't work"
Hello,

The plugin does not work anymore ... I'm on Gmail and my text filters in the plugin not changed.

Filter :
/[a-z ]+Attention : .*?de nos services.\./ui

My signature :
Attention : Le présent message et toutes les pièces jointes sont confidentiels et établis à l'attention exclusive des destinataires indiqués. Toute autre diffusion ou utilisation non autorisée est interdite. Si vous recevez

[2019-08-22 15:31] PepeImpulso commented on #13
I'm having the same problem with 9.4.3.
I would also please need a clear explanation on how to use the plugin.

[2019-09-11 18:18] tomolimo commented on #13
Hello @PepeImpulso
For explanations, please first read the wiki: https://github.com/tomolimo/ticketcleaner/wiki
And then if you have more questions I'll be happy to answer.

Hello @juveboss
Could you provide the debug logs like explained in the wiki: https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters

Thank you
Regards,
Tomolimo

[2019-09-25 05:11] TBastien commented on #13
Hello,
Thanks for your plugins. I upgrade today to glpi 9.4.4. and plugins 2.5.1
With TXT mail it's work but not with HTML.

html.class.php on glpi 9.4.4 is allready without space but is not exacte the same function.
what are I doing wrong.
Thanks for help

[clean.txt](https://github.com/tomolimo/ticketcleaner/files/3650623/clean.txt)
![Capture](https://user-images.githubusercontent.com/19180435/6

[2019-09-25 06:37] tomolimo commented on #13
Hello @TBastien

Could you provide the debug logs like explained in the wiki: https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters

Thank you
Regards,
Tomolimo

PS: do not use existing issue to post your own, but create new one, please! This will prevent confusions.

[2019-09-25 09:38] TBastien opened #14 "Clean html email glpi 9.4.4"
Hello,
Thanks for your plugins. I upgrade today to glpi 9.4.4. and plugins 2.5.1
With TXT mail it's work but not with HTML.

html.class.php on glpi 9.4.4 is allready without space but is not exacte the same function.
what are I doing wrong.
Thanks for help

[clean.txt](https://github.com/tomolimo/ticketcleaner/files/3651729/clean.txt)
[TicketCleaner.log](https://github.com/tomolimo/ticketcleaner/f

[2019-09-26 06:31] tomolimo commented on #14
Hello @TBastien,

Thank you, but to help you I also need to have the following:

Could you also post the filters?

- 'Supprime les espaces'
- 'Sofia'

Could you also post initial view of the email, and what is expected after the filters?

Thank you
Regards,
Tomolimo

[2019-10-04 16:58] Armin83 opened #15 "[2.5.1 GLPI 9.4.4] don't get debug filter trace to log"
I try to get trace logs https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters
but i got only this

Ticket: 'Test1751'
2019-10-04 18:43:02 [@server]
Ticket: 'Test1777'

No Initial text content: / No After text

[2019-10-07 07:32] tomolimo commented on #15
Hello @Armin83
Could you give the GLPI configuration and plugin configuration?
Thank you
Regards,
Tomolimo

[2019-10-07 07:57] Armin83 commented on #15
The filter we try to use:
/xx yy GmbH..xx-yyy-Straße 1..12345 xx .*?Besuchen Sie uns im Web unter www\.xxxyyy\.de..../us

[code]
 GLPI 9.4.4 (/glpi => /var/www/glpi)
Installation mode: TARBALL

Server

Operating system: Linux inventar01 3.13.0-85-generic #129-Ubuntu SMP Thu Mar 17 20:50:41 UTC 2016 i686
PHP 7.0.33-0ubuntu0.16.04.6 apache2handler (Core, PDO, Phar, Reflection, SPL, SimpleXML, Zend O

[2019-10-07 08:02] tomolimo commented on #15
Thank you,
Could you also check if there are any error in PHP log files?

[2019-10-07 08:44] Armin83 commented on #15
Cleaner Log

Ticket: 'Bestellung'
2019-10-07 10:00:01 [@xx]
Ticket: 'Walzstahlverteiler'

Because of a glpi error in 9.4.4 cron have to run as root and so i have some error logs if i don't change the log files persmission back to www-data.
I changed it now but on friday all was correct and i did not have errors from this plugin

  *** PHP Warning(2): error_log(/var/www/glpi/files/_log/cron.log): f

[2019-10-07 08:55] tomolimo commented on #15
Thank you
Could you confirm that you were running in debug?
Could you also confirm that you have the TicketCleaner.log file in the log/ folder?

[2019-10-07 08:58] tomolimo commented on #15
I think I found why you don't have any info in the log:
the GLPI debug mode is only active for super-admin users, and of course it is not active with the cron...
Are you trying to integrate emails? If yes, you may run the mailgate manually from the 'automatic actions', and such the debug mode will be active (if enable in your super-admin profile).

[2019-10-07 09:05] Armin83 commented on #15
That's it. Thanks
Sorry i did not know that i have to run import manual to get the debug mode active in this case. Now i have the necessary input in the debug log to find the correct filter.

I have change my filter to html :( ... much work for me ;)

[2019-10-07 09:05] #15 closed, assigned to nobody

[2019-10-07 09:30] tomolimo commented on #15
you're welcome, I'll change the Wiki to indicate this. Thank you

[2019-11-06 09:43] LatinSuD opened #16 "Link Readme to Wiki"
Just as a suggestion, it would be nice if there was a link in the Readme.md file to the wiki.

https://github.com/tomolimo/ticketcleaner/wiki

[2019-11-06 16:10] MCGS94 opened #17 "Images with links."
Hi,

I'm sorry if i post this on the wrong section but i'm on a dead end because i have no knowledge about PHP. Can you please tell me how can i remove images with links like:

 <a href="https://www.qries.com/">
         <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height="70">
  </a>

` <a href="https://www.qries.com/">
         <img alt="Qries" src="htt

[2019-11-07 07:26] tomolimo commented on #17
Hello @MCGS94
You may add a filter that will look like:
@<a href="https://www\.qries\.com">.*</a>@

You may test this filter like explained here:
https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters

Regards,
Tomolimo

[2019-11-08 09:45] MCGS94 commented on #17
Hi,

Thank you for your fast reply! But unfortunately, it doesn't work.

I've tried to remove the images only before. It works great but it leaves a big empty space. Images with links were on that empty space. (see img below)

![tempsnip](https://user-images.githubusercontent.com/38141357/68465267-6f686180-0212-11ea-9239-00e18271b3fc.png)

This is what i've put on the plugin.
![Capture](https://us

[2019-11-08 11:18] tomolimo commented on #17
Did you try in debug mode like explained here: https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters#how-to-debug-test-filters

[2019-11-12 13:15] MCGS94 commented on #17
[debug.txt](https://github.com/tomolimo/ticketcleaner/files/3836251/debug.txt)

Hi
,
Sorry, i didn't follow the instructions thoroughly but here's what the log says.

PS: i've blocked the images through glpi (management > documents > blacklisted for import > yes )

Hope you can help me :)

Thanks in advance !

[2019-11-12 13:41] tomolimo commented on #17
Hello @MCGS94,

Beware that this will block all images....

What you have to understand is that Ticket Cleaner plugin has two parts:
1. one for cleaning text
1. and one for preventing import of images (whatever type it can be)

The text cleaning mechanism may be used to clean images too, but it needs to be able to master a little bit the regexp.
The image cleaning mechanism is explained here: http

[2020-05-14 09:04] ghost opened #18 "Retrieve the last mail header in ticket tracking / Récupérer le dernier en-tête mail dans suivi du ticket"
Hello @tomolimo

First of all thank you for the work on the different plugins.

Does the "ticketcleaner" also make it possible to recover the mail header when a person is doing an normal or anonymous follow-up by email (via the collector)?

Thank you

GLPI version 9.4.6

_____________

Bonjour @tomolimo

Tout d'abord merci pour le travail sur les différents plugins.

Est ce que le "ticketcleaner"

[2020-05-14 12:42] tomolimo commented on #18
Hello @stdglpi
Thank you for using the plugin :smiley:
But could you post your question in English, thank you?
It may help other people
Thank you
Regards,
Tomolimo

[2020-05-14 19:26] stdglpi commented on #18
Hello @tomolimo

First of all thank you for the work on the different plugins.

Does the "ticketcleaner" also make it possible to recover the mail header when a person is doing an normal or anonymous follow-up by email (via the collector)?

Thank you

GLPI version 9.4.6

[2020-05-15 07:48] tomolimo commented on #18
Hello @stdglpi
The Ticketcleaner plugin is working on:

### Texts:
1. The ticket title (called "name" in glpi_tickets table in DB), at ticket creation, and also ticket update
1. The ticket description (called "content" in glpi_tickets table in DB), at ticket creation, and also ticket update
1. The followup content at followup creation, and also followup update

### Images:
1. When ticket is create

[2020-05-15 14:22] ghost commented on #18
Hello @tomolimo

Ok I understand.

**Goal :**

In each followup (taken by mail with the collector) I would like this :

Of : xxxxxx <xxxxx@xxxxx>
Sent : xxxx xxx xxx
To : xxx xxx xxxx
Subject : xxxxx xxxxx

##Followup.description##

currently the collector clean this part in the code.
We are using the anonymous helpdesk and it will help us to see if the requester add some people in the loop.

Unfo

[2020-05-18 15:19] tomolimo commented on #18
Hello @stdglpi

Yes, exactly, this request is out of scope for this plugin :disappointed:
This is an interesting feature request, but for another plugin...

Sorry, I'm going to close this issue.

Thank you,
Regards,
Tomolimo

[2020-05-18 15:19] #18 closed, assigned to nobody

[2020-10-08 09:59] tomolimo commented on #14
Hello @TBastien
I close this issue I got no news since last question.
Feel free to reopen if you want to post more info.
Thank you
Regards,
Tomolimo

[2020-10-08 09:59] #14 closed, assigned to nobody

[2020-10-27 17:40] victoria1984 commented on #13
Hello,
Thanks for your plugins. I 'm using glpi 9.4.4. and plugins 2.5.1
mail it'isn work with HTML.

html.class.php on glpi 9.4.4 is allready without space but is not exacte the same function.
and i've done this filter:
/(\<p class=MsoNormal style='line-height:80%'\>(.*)\<\/p>)/

The filter is prove with a regular expression program and is correct, but the mails don't replace the expresion.
![fil

[2020-10-28 13:52] tomolimo commented on #13
Hello @victoria1984
Do not use an existing issue to post new issue. Use a new issue for that, otherwise it's impossible to answer all issues when it's in the same thread.
Thank you to open a new issue. and then if necessary, you may refer to current issue.
Thank you,

Apart of that, if you want help from me, I need more info: could you provide the debug information like explained here: https://git

[2020-10-29 08:15] victoria1984 opened #19 "GLPI 9.3 and 9.4 does not work with html"
Hello,
I create a new issue for my problem.
I'm using this plugin with glpi 9.3.2 and glpi 9.4.4 but when i make a regex for html, this filter don't work.
I've proved the regex with the program named in the wiki and works ok.

In glpi, when i use the expression for txt, works ok, however i need use html expression.
attachment Ticketcleaner.log and my regular expression.

/(\<p class=MsoNormal styl

[2020-10-29 13:27] tomolimo commented on #13
Hello @TBastien
I close this issue, as I got no news since last post.
Feel free to reopen, or to open a new issue.
Thank you,
Regards,
Tomolimo

[2020-10-29 13:27] #13 closed, assigned to nobody

[2020-10-29 13:32] tomolimo commented on #19
Hello @victoria1984
All these log files have the same content: is it intend?
Did you apply the debug filter procedure like describe here: [Debug-filters](https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters)?
Thank you to provide me the log file like described in the Debug-filter section.
Regards,
Tomolimo

[2020-11-03 07:19] victoria1984 commented on #19
I'm going to extract the log again and send to you.

Thank's

[2020-11-03 08:17] tomolimo commented on #19
Don't forget to switch to Debug mode like explained in the wiki!

[2020-11-03 11:59] victoria1984 commented on #19
Hi,
I've activated de debug mode with super-admin profile and i sent an e-mail with the structure that i want remove.
And this is the log that plugin made.
[TicketCleaner.log](https://github.com/tomolimo/ticketcleaner/files/5481029/TicketCleaner.log)

[2020-11-04 10:16] tomolimo commented on #19
Hello @victoria1984
To which email address did you send an email?
Thank you
Regards,
Tomolimo

[2020-11-04 10:20] tomolimo commented on #19
Hello @victoria1984
I've checked the new log file you sent, but there is no filter debug in it!
Could you do screen copies of the plugin filters in GLPI?
Thank you,
Regards,
Tomolimo

[2020-11-04 10:46] tomolimo commented on #19
Hello @victoria1984
![image](https://user-images.githubusercontent.com/7569958/98101807-0225f580-1e93-11eb-90ab-2495db8d85d3.png)
This screencopy of the log file you sent shows that the email has been integrated by the cron user, and not by the super-admin has it should be if you want to debug the filters, like explained [here](https://github.com/tomolimo/ticketcleaner/wiki/Debug-filters)
Thank yo

[2020-11-06 12:07] victoria1984 commented on #19
Hi,
i sent you log file again.
I've used super-admin profile, and i've runed the mailgate manually from the 'automatic actions' but the filter didn't work
[TicketCleaner.log](https://github.com/tomolimo/ticketcleaner/files/5501151/TicketCleaner.log)
Thank's

[2020-11-06 15:42] tomolimo commented on #19
Hello @victoria1984
Please try with the following pattern:
`/(<p class="MsoNormal" style="line-height:80%">(.*)<\/p>)/`
Thank you
Regards,
Tomolimo

[2021-03-31 16:54] AzureWithBen opened #20 "GLPI 9.5"
Hi

Any news about version for glpi 9.5 ?
thanks a lot for your very great job.

REgards

[2021-04-01 09:14] tomolimo commented on #19
Hello @victoria1984
I close this issue as I got no news from last post.
Feel free to re-open if you want to post news.
Thank you
Regards,
Tomolimo

[2021-04-01 09:14] #19 closed, assigned to tomolimo

[2021-04-06 12:47] tomolimo commented on #17
Hello,
Closed this as it is no longer living...
Regards,
Tomolimo

[2021-04-06 12:47] #17 closed, assigned to nobody

[2021-04-06 13:45] tomolimo commented on #20
Fixed by https://github.com/tomolimo/ticketcleaner/releases/tag/3.0.0

[2021-04-06 13:45] #20 closed, assigned to tomolimo

[2021-04-06 13:46] tomolimo commented on #16
Fixed by https://github.com/tomolimo/ticketcleaner/releases/tag/3.0.0

[2021-04-06 13:46] #16 closed, assigned to nobody

[2021-04-06 15:13] AzureWithBen commented on #20
So fast, thanks a lot :)

[2021-04-09 07:19] YoannRou opened #22 "Ticket Cleaner - LetSignIT signatures"
Hello,

We use LetSign IT to automatically create signatures and advertising banner in our emails.
They are added to Outlook with an app or SMTP connector from a smartphone.
It's very userful but for ticket's collected by mail it took a lot of space for nothing.

So far I have managed to remove all of the text but not the images embedded in the signature or the ad banner.
They are uploaded to LetS

[2021-04-09 10:35] tomolimo commented on #22
Hello @YoannRou

Could you post in English?
Could you also post your GLPI configuration?

Thank you
Regards,
Tomolimo

[2021-04-09 13:21] tomolimo commented on #22
Hello @YoannRou

Could you try a first regex?
`@<a href="https://cloud\.letsignit\.com/.*</a>@`
This one should delete the images.
Could you post result?

And then I'll propose you another one to delete the disclaimer text.

Thank you
Regards,
Tomolimo

[2021-04-09 14:03] YoannRou commented on #22
Thank you for your quick answer !
I tried the RegEx and it's better than evertything i tried but not perfect.
In the description a lot of things are deleted but in history images are still uploded.

![image](https://user-images.githubusercontent.com/82201237/114191727-06c46d80-994d-11eb-92ce-e3587ad3b7d4.png)

[2021-04-09 14:59] tomolimo commented on #22
Hello @YoannRou

In fact the pictures are not in the HTML part of the email, but they are attached files in the email, this implies that the ticket description filters cannot delete them.
But there is another way to delete pictures: you have to place them in the /plugins/ticketcleaner/pictures/ folder of the plugins. This folder must contain the pictures that you want to exclude: copy/paste them i

[2021-04-09 15:07] YoannRou commented on #22
Tomolimo,

Ok I will try this. Thanks again.
Do you have any idea wich RegEx I have to create to delete the rest of the text inside the HTML board and the board itself ?

Regards,

[2021-07-29 10:18] jgrunder opened #23 "[GLPI 9.5.5+ticketcleaner 3.0.0] PHP Warning array_key_exists() in ticketcleaner/hook.php"
Hi there,

I've upgraded my GLPI installation to 9.5.5 and reinstall this plugin to version 3.0.0 and I have PHP warnings at each incoming mails:

[code]

[2021-07-29 10:22] tomolimo commented on #23
Hello @jgrunder
Could you provide more info on how to reproduce this warning?
Thank you
Regards,
Tomolimo

[2021-07-29 10:29] jgrunder commented on #23
Hello @tomolimo
I don't know how to reproduce this warning, maybe it's related to the mails themselves.
This warning appears as soon as the mailgate retrieves an email and runs this plugin, there are no configuration options so I don't know what makes my GLPI environment different from yours.

[2021-07-29 10:42] tomolimo commented on #23
Hello @jgrunder
Do you have any defined filters?
Do you use IMAP or POP3 protocol in your receiver?
Could you post an email in EML format so that I can try to reproduce?
Thank you
Regards,
Tomolimo

[2021-07-29 10:52] jgrunder commented on #23
Hm I have no filter in database and I can't find anywhere to add and manage current filters

[2021-07-29 12:57] jgrunder commented on #23
Can you tell me where I can add and edit filters ? I didn't find in your Wiki where to do this.
(Note that his warning does not occur at each email, I am doing additional tests to understand when PHP returns this warning)

[2021-07-29 14:01] tomolimo commented on #23
Hello @jgrunder
Here you'll find the filters if any:
![image](https://user-images.githubusercontent.com/7569958/127505608-f0604bfa-34a7-4467-807e-bb9c468b2787.png)

[2021-08-03 09:29] jgrunder commented on #23
Hi,
So I confirm, I have no filters.
Are you not able to reproduce this issue ? What version of PHP is recommended for this plugin ?
Thanks for your support.

[2021-12-16 07:48] FRANCOIS50 opened #24 "vulnerability Log4Shell ?"
Glpi version 9.2.4
Plugin resources version 2.1.0
Good morning
I have a Question:
Is the plugin vulnerable to Log4shell (CVE-2021-44228)?

Thank you in advance for your answer

Regards

[2021-12-16 10:06] tomolimo commented on #24
Hello @FRANCOIS50
I cannot say in details, but for me as soon as your web configuration doesn't use this log4j module, then it is free from the threat.
So you have to check your web server installation.
Thank you,
Regards,
Tomolimo

[2021-12-16 10:29] FRANCOIS50 commented on #24
Ok thanks for your answer

[2021-12-16 10:29] #24 closed, assigned to tomolimo

[2022-04-25 21:55] blippercop opened #25 "Version 10"
The plugin gives an error on page /front/plugin.php as superadmin (Debugmode?)

PHP User Warning (512): Unknown attributes "classname" used in "PluginTicketCleaner" class registration in /var/www/html/helpdesk/src/Plugin.php at line 1410

[2022-04-26 07:13] tomolimo commented on #25
Hello @blippercop
Could you give info in order to reproduce the issue?
Thank you,
Regards,
Tomolimo

[2022-04-26 07:31] tomolimo commented on #25
And anyway, TicketCleaner is NOT currently compatible with GLPI 10!

[2022-04-26 07:31] #25 closed, assigned to nobody

[2022-05-03 16:10] blippercop commented on #25
I don't understand.
It is not compatible okay.. but will it be updated to be compatible with GLPI 10 or is the project dead?

[2022-05-04 06:14] tomolimo commented on #25
Hello @blippercop
Yes version 10 compatibility is planned to take place this year :)
Thank, you
Regards,
Tomolimo

[2022-05-04 10:46] blippercop commented on #25
Awesome. Thank you!

For my own documentation purposes to proceed with the testing (maybe helpful for you?) :
[code]

[code]
unclean_cross_side_scripting_deep  has been replaced by Sanitized. Usage is the same here https://github.com/pluginsGLPI/datainjection

Regex need to be edited: add the /s  -> /regexpart/s

Sinature filters work. Saving Regex work. Picture filter not testet.

[2022-09-26 18:12] perlporter opened #26 "GLPI 10"
Is it already possible to run the plugin in version 10?
Congratulations for the project